[user]
	name = Guerra24
	email = lili@guerra24.net
[credential]
	helper = /usr/local/bin/git-credential-manager
	credentialStore = secretservice
[credential "https://dev.azure.com"]
	useHttpPath = true
